.button-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.modal-button {
    padding: 6px 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    border: 1px solid transparent;
    background-color: #32cd32;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.modal-button:hover {
    background-color: #32cd32;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(141, 228, 115, 0.5);
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 32rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 0px solid #e5e7eb;
}

.modal-title {
    color: #1f2937;
}

.modal-body {
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .error {
    color: red;
    margin-bottom: 10px;
}

form .message {
    color: green;
    margin-bottom: 10px;
}

input {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    color: #1f2937;
    font-weight: 300;
    font-family: "Noto Sans Thai", sans-serif;
    border-radius: 0.325rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0rem;
    outline: 2px solid transparent;
    transition: outline-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline-color: #32cd32;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    padding-top: 4px;
    border-top: 0px solid #e5e7eb;
}

.save-button {
    padding: 6px 12px;
    background-color: #32cd32;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
}

.save-button:hover {
    background-color: #209920;
}

.custom-table {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.custom-table .ant-table-thead>tr>th {
    background-color: #f5f5f5;
    text-align: left;
    font-weight: bold;
}

.custom-table .ant-table-tbody>tr>td {
    padding: 10px;
}

.custom-table .ant-table-pagination {
    justify-content: center;
}

.custom-font-table {
    font-family: "Noto Sans Thai", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid #e5e7eb; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    border-bottom: 1px solid #e5e7eb;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    font-family: "Noto Sans Thai", sans-serif;
}

.subtitle {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6b7280;
}

.body {
    padding: 1rem;
}

.title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1f2937;
}

.text {
    margin-top: 0.5rem;
    color: #6b7280;
}

/* EditUser */
.icon-button {
    font-family: "Noto Sans Thai", serif;
    margin-bottom: 20px;
}

.user-form {
    font-family: "Noto Sans Thai", serif;
    font-size: 1.125rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
    font-family: "Noto Sans Thai", serif;
}

.form-header {
    background-color: #f3f4f6;
    border-bottom: 1px solid #e5e7eb;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-family: "Noto Sans Thai", serif;
}

.form-description {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6b7280;
    font-family: "Noto Sans Thai", serif;
}

.form-body {
    padding: 1rem;
    font-family: "Noto Sans Thai", serif;
}

.form-field {
    font-family: "Noto Sans Thai", serif;
    margin-top: 1rem;
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Noto Sans Thai", serif;
    color: #374151;
}

.form-input {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-family: "Noto Sans Thai", serif;
    padding: 0.5rem;
    outline: none;
}

.form-input:focus {
    font-family: "Noto Sans Thai", serif;
    outline: none;
    box-shadow: 0 0 0 3px rgba(141, 228, 115, 0.5);
}

.submit-button {
    padding: 6px 12px;
    background-color: #32cd32;
    color: white;
    font-family: "Noto Sans Thai", serif;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
}

.submit-button:hover {
    background-color: #32cd32;
}

.submit-button:focus {
    font-family: "Noto Sans Thai", serif;
    outline: none;
    box-shadow: 0 0 0 3px rgba(141, 228, 115, 0.5);
}

.form-group {
    margin-bottom: 1rem;
    /* Ensure spacing between form groups */
}

.userid-label,
.email-label,
.phone-label,
.role-label,
.firstName-label,
.lastName-label {
    font-family: "Noto Sans Thai", serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    display: block;
    margin-bottom: 0.5rem;
}

.userid-Input,
.email-Input,
.phone-input,
.firstName-input,
.lastName-input {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-family: "Noto Sans Thai", serif;
    padding: 0.5rem;
    outline: none;
}

.userid-Input:focus,
.email-Input:focus,
.phone-input:focus,
.role-select:focus,
.firstName-input:focus,
.lastName-input:focus {
    outline-color: #32cd32;
}

.submit-button {
    padding: 6px 12px;
    background-color: #32cd32;
    color: white;
    font-family: "Noto Sans Thai", serif;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
}

.submit-button:hover {
    background-color: #32cd32;
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(141, 228, 115, 0.5);
}